.login {
  height: 100vh;
  align-items: center;
  display: flex;
  color: var(--text-color, );
  background-color: var(--body_background);
  padding: 0 15px;

}

.login__wrapper {
  border-radius: 12px;
  background-color: var(--background_cart);
  width: 445px;
  margin: 0 auto;
  padding: 44px 34px;


  &__table_header {
    width: 100%;
    text-align: center;
    align-items: baseline;
    padding-bottom: 60px;
  }

  &__table_title {
    color: black;
    padding: 0px 0px 5px 0px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    width: 100%;
  }

  &__table_subtitle {
    color: var(--text-color);

    font-size: 14px;
    font-weight: 500;
    width: 100%;
  }
}

.modalWindow {
  position: relative;

  &__input {
    border: 0;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.25rem;
    border-radius: 10px;
    width: 100%;
    background-color: var(--input_background);
    padding: 8px 8px 8px 50px;
    height: 52px;

    &:focus {
      outline: none !important;
      border: 1px solid #cacaca;
      box-shadow: 0 0 10px #e3e3e3;
    }
  }

  &__input_error {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 13px;
    color: red;
  }
}

.inputIcon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.inputContainer {
  position: relative;
}



.btn__wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;


  &__btn {
    color: white;
    background: var(--primary_color);
    font-weight: 600;
    border-radius: 12px;
    font-size: 20px;
    padding: 16px 20px 16px 20px;
    cursor: pointer;
    border: 0;

    &:hover {
      background: var(--primary_colorHover);
    }


  }

  &__disabled {
    color: white;
    background: rgb(174, 174, 174);
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
    padding: 16px 20px 16px 20px;
    cursor: pointer;
    border: 0;
  }
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;

  .spinner {
    display: block;
    width: 30px;
    height: 30px;
    border: 4px solid #6c84f9a5;
    border-radius: 50%;
    border-top-color: var(--primary_color);
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
}