.tableChart__td {
  color: #2c2d33;
  line-height: 16.94px;
  font-weight: 400;
  font-size: 14px;
}

.tableChart__td {
  color: #2c2d33;
  line-height: 16.94px;
  font-weight: 400;
  font-size: 14px;
}

.tableChart__tdd {
  color: #2c2d33;
  line-height: 16.94px;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
}

.tableChartWrapper__table_header {
  width: 100%;
  background-color: var(--tablebg-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px 0px 0px 0px;
}

.tableChartWrapper__table_title {
  color: var(--text-color);
  padding: 0px 0px 15px 0px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  // border-bottom: 2px solid #4a4b50;
  // border-bottom: 2px solid var(--border-color, );
  display: flex;
  justify-content: space-between;
  // display: flex;
  align-items: center;
}

.adaptiveColspan {
  grid-column: span var(--colspan);
}

.s_th {
  color: #2c2d33;
  line-height: 16.94px;
  font-weight: 400;
  font-size: 14px;
}

.tableChart {
  border-collapse: collapse;

  &__th {
    color: #2c2d33;
    line-height: 16.94px;
    font-weight: 400;
    font-size: 14px;
  }

  &__thh {
    color: #2c2d33;
    line-height: 16.94px;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
  }
}

.thead_dop {
  color: #717377;
  border: 2px solid var(--border-color);

  &__tr {
    transition: background-color 0.3s ease, color 0.3s ease;

    // border-bottom: 2px solid var(--border-color, );
    padding: 0.35em;
  }

  &__th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    font-size: 12px;
    background: var(--thead-color);
    color: var(--text-color);
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-width: 1024px) {
  .tableWrapper,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border-bottom: 2px solid #ccc;
  }

  .table_td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .table_td:nth-of-type(1):before {
    content: '№';
  }

  .table_td:nth-of-type(2):before {
    content: 'Канал';
  }

  .table_td:nth-of-type(3):before {
    content: 'Название видео';
  }

  .table_td:nth-of-type(4):before {
    content: 'Формат';
  }

  .table_td:nth-of-type(5):before {
    content: 'Начало';
  }

  .table_td:nth-of-type(6):before {
    content: 'Статус';
  }

  .table_td:nth-of-type(7):before {
    content: 'Показы онлайн';
  }

  .table_td:nth-of-type(8):before {
    content: 'Бюджет';
  }

  .table_td:nth-of-type(9):before {
    content: 'Анализ аудитории';
  }
}

.linkk__svg {
  width: 25px;
  height: 25px;
}

.linkk__svg path {
  stroke: var(--text-color);
}

.list__item__open {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
  background-color: var(--tablebg-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  // border-bottom: 2px solid var(--border-color, );

  background: #efefef;
  border-radius: 10px;
  max-height: 100%;
}

.doprow {
  background-color: var(--tablebg-color);
  overflow-x: auto;
  transition: max-height 0.5s ease-in;
}

.dopBtn {
  display: flex;
  align-items: center;
  color: #6d6e77;
  font-weight: 400;
  line-height: 14.52px;
  // border: 2px solid #0b84ff;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
  padding: 3.5px 12px;
  transition: box-shadow 0.3s ease, color 0.3s ease;
  margin-right: 5px;
  z-index: 1;

  &:hover {
    box-shadow: 0 0 5px #e8e8e9;
  }

  .arrow {
    display: inline-block;

    width: 16px;
    height: 16px;
    overflow: hidden;
    vertical-align: middle;
  }

  .arrow__icon {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .arrow__rotate {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: #d6d6d6;
  }
}

.linkWrapper {
  color: var(--text-color);
  font-size: 14px;
  white-space: nowrap;
  padding: 16px 24px 16px 24px;
  line-height: 20px;

  &__file {
    display: flex;
    font-size: 14px;
    line-height: 16.94px;
    padding: 3.5px 11px;
    background: #f2f3f3;
    cursor: pointer;
    color: #294fe9;
    border: 1px solid white;
    border-radius: 8px;

    &:hover {
      border: 1px solid #294fe9;
      border-radius: 8px;
      box-shadow: 0 0 5px #cee5dd;

      svg path {
        stroke: #294fe9;
      }
    }
  }
}

.profile {
  display: flex;
  font-size: 14px;
  position: relative;

  &__wrapper {
    // width: 32px;
    // height: 32px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    background: rgb(255, 242, 226);
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 5px rgb(250, 203, 145);
    }
  }
}

.profile__wrapper__tooltip {
  position: absolute;
  bottom: -45px;
  right: 3px;
  background-color: #fff;
  box-shadow: 0 0 5px #bbbbbb;
  padding: 10px;
  border-radius: 12px;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.profile__wrapper__tooltip {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  /* Отменяем задержку */
}

@media only screen and (max-width: 1024px) {
  .list__item__open {
    display: contents;
  }
}

.tooltiptext {
  visibility: hidden;
  /* другие стили */
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.tableChart__td:hover .tooltiptext {
  visibility: visible;
  bottom: 40px;
  transform: translateX(-28%);
  background-color: #4e4e4e;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 5;
}

.hidden {
  display: none;
}
